<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ordermanagementsystemapitest20251026230046-eyc2dyfbeufabscy.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/55594607-dd7d-4e99-ab39-9f3f54d9972c/resourcegroups/OrderManagementSystemAPITest20251026230046ResourceGroup/providers/Microsoft.Web/sites/OrderManagementSystemAPITest20251026230046</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>ordermanagementsystemapitest20251026230046-eyc2dyfbeufabscy.scm.australiaeast-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>OrderManagementSystemAPITest20251026230046</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>OrderManagementSystemAPI.Test</WebJobName>
  </PropertyGroup>
</Project>